.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #4F4F4F;
    -fx-padding: 5 10 5 10;
}
.text-area {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #4F4F4F;
}
.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.combo-box .list-cell {
    -fx-text-fill: #4F4F4F;
}
.choice-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.choice-box .label {
    -fx-text-fill: #4F4F4F;
}

.choice-box .arrow-button {
    -fx-background-color: transparent;
}

.choice-box .arrow {
    -fx-background-color: #6EC6FF;
}
.spinner {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #4F4F4F;
}
.labelPet {
    -fx-text-fill: #4F4F4F;
    -fx-font-size: 13px;
}
.radio-button {
    -fx-text-fill: #4F4F4F;
}
.check-box {
    -fx-text-fill: #4F4F4F;
}
.button {
    -fx-background-color: #A7D8F5;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;
}
.root {
    -fx-background-color: #F9F9F9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
}