
.buttonTransparent:hover{
    -fx-background-color:#C0C0C0 !important;
}
.tree-cell:hover {
    -fx-background: #C0C0C0 !important;
}
.root {
    -fx-font-family: 'Segoe UI';
    -fx-background-color: #F9F9F9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
}