.vboxGeneral {
    -fx-background-radius: 15px;
}

.root {
    -fx-background-color: #F2F8FF;
    -fx-font-family: 'Segoe UI';
    -fx-font-size: 20px
    px;
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
    -fx-border-radius: 20;
}

.text-area2 {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 6px;
    -fx-font-size: 18px;
    -fx-text-fill: #2c3e50;
}