.buttonSign:hover {
    -fx-background-color: rgba(230, 185, 86, 0.8) !important;
}
.buttonLogin:hover {
    -fx-background-color: rgba(255, 153, 0, 0.8) !important;
}
.root {
    -fx-background-color: #F2F8FF;
    -fx-font-family: 'Segoe UI';
}